@import url('https://fonts.googleapis.com/css2?family=Montserrat&amp;amp;amp;amp;amp;amp;display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    min-height: 100vh;
    font-family: Hack, monospace;
    background: #181818;
}

a {
    text-decoration: none;
    color: #fff;
}

.nav {
    display: block;
    position: relative;
    z-index: 10;
    width: 100%;
    background: #000;
}

.nav-include {
    width: 100%;
}

.profile {
    padding-top: 20px;
    padding-bottom: 200px;
    margin-top: 50px;
    padding-inline: 10%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    width: 60%;
    background: #000;
    border-radius: 20px;
    box-shadow: 0 15px 35px rgb(0, 0, 6);

}

.profile p {
    padding: 10px;
    /* z-index: 1000; */
    color: #ffffff;
    opacity: 1;
}

.profile h2 {
    font-size: 2em;
    color: #ce0000;
    text-transform: uppercase;
    text-align: center;
}

.profile h3 {
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
}

.profile .add_btn {
    margin-top: 20px;
    padding: 10px;
}

.profile .add_btn a {
    text-decoration: none;
    text-transform: uppercase;
    background: #ce0000;
    border-radius: 3px;
    color: white;
    padding: 7px;
}

.profile table {
    color: #ffffff;
    /* z-index: 9999; */

}

nav {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-inline: 25%;
    position: relative;
    z-index: 20;

.menuItems {
    list-style: none;
    display: flex;
    /*flex-direction: row;*/
    justify-content: space-between;

li {

/*margin-inline: 50px;*/
a {
    text-decoration: none;
    color: #ce0000;
    font-size: 24px;
    font-weight: 400;
    transition: all 0.5s ease-in-out;
    position: relative;
    text-transform: uppercase;

&
::before {
    content: attr(data-item);
    transition: 0.5s;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 0;
    overflow: hidden;
}

&
:hover {

&
::before {
    width: 100%;
    transition: all 0.5s ease-in-out;
}

}
}
}
}
}

table {
    padding-top: 20px;
    margin-top: 20px;
    width: 100%;
}

li {
    list-style-type: none;
    border-bottom: 1px solid white; /* Линия между элементами */
    padding-bottom: 5px;
}

li:last-child {
    border-bottom: none; /* Убираем линию после последнего элемента */
    padding-bottom: 0; /* Убираем отступ после последнего элемента */
}

th {
    font-size: 13px;
    font-weight: normal;
    background: #000;
    border-top: 4px solid #fff;
    border-bottom: 1px solid #ece3e3;
    color: #ffffff;
    padding: 8px;
}

td {
    background: #181818;
    /*border-bottom: 1px solid white;*/
    color: #fff;
    border-top: 1px solid;
    text-align: center;
    padding: 8px;
}


.form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.form .inputBox {
    margin-top: 5px;
    position: relative;
    width: 40%;
    box-sizing: border-box;
}


.form .inputBox input {
    position: relative;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    padding: 15px 10px;
    border-radius: 4px;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.table-container {
    overflow-x: auto;
}

.form .inputBox input[type="submit"] {
    padding: 10px;
    background: #ce0000;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.35em;
    letter-spacing: 0.05em;
    cursor: pointer;
    width: 105%;
}

input[type="submit"]:hover {
    opacity: 0.6;
}

input[type="submit"]:active {
    opacity: 0.6;
}

.inputBox input[type="button"]
{
    padding: 10px;
    background: #ce0000;
    text-transform: uppercase;
    color: #fff;
    font-weight: 400;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    cursor: pointer;
    border: none;
    border-radius: 6px;
}
input[type="button"]:hover{
    opacity: 0.6;
}
input[type="button"]:active
{
    opacity: 0.6;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* font-size: 1.5em; */
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* min-height: 100vh; */
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: 999;
    color: white;
}

.menu {
    width: 60vw;
    height: 2em;
    border-bottom: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 18px;
    text-transform: uppercase;
}

.menu a {
    color: #ce0000;
}

.menu a:hover {
    color: #fff;
}

.menu_item {
    margin-right: 1em;
    display: flex;

}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    /* height: 100vh; */
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 5px;
    background: white;
}

.inner {
    padding: 1em 0 0 0;
    width: 60%;
    height: auto;
}

@media (max-width: 768px) {
    .profile h2 {
        font-size: 24px;
    }

    .menu {
        display: none;
    }

    .form .inputBox {
        width: 80%;
        font-size: 14px;
    }

    .menu-small {

        display: flex;
        flex-direction: column;
        height: 90vh;
        margin-top: 100px;
        width: 100%;
        padding: 0;
        position: absolute;
        background: black;

        transform: translateX(-100%);

    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10px;
        /* background: pink; */
    }

    .menu_small_item a {
        color: #ce0000;
        text-transform: uppercase;
        font-size: 24px;

    }


    .menu_small_item:first-child {
        padding-top: calc(50px + 2em);
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 50px;
        height: 50px;
        display: flex;
        /* z-index: 9900; */
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        color: #000;
    }

    .inner {
        padding-top: calc(50px + 2em);
    }

    .inner p {
        margin: 0
    }

    .profile {
        padding-top: 100px;
        margin-top: 0;
        width: 80vw;

    }

    table {
        padding-top: 20px;
        max-width: 100%;
        margin-top: 20px;

    }

    th {
        font-size: 10px;
        font-weight: normal;
        background: #000;
        border-top: 4px solid #fff;
        border-bottom: 1px solid #ece3e3;
        color: #ffffff;
        padding: 8px;
    }

    td {
        font-size: 10px;
        background: #181818;
        /*border-bottom: 1px solid white;*/
        color: #fff;
        border-top: 1px solid;
        text-align: center;
        padding: 8px;
    }

    .add_btn a {
        font-size: 14px;
    }

    .contact {
        margin-top: 25px;
        font-size: 14px;
    }


}