section .report{
    width: 80vh;
}

section .report .content{
    max-height: 80vh;
    overflow-y: auto;
    width: 90%;
}

@media (max-width: 768px) {
    section .report
    {
        width: 95%;
    }
    section .report .content {
        width: 100%;
    }
    section .report .content h2{
        font-size: 28px;
    }
    section .report .content .form .inputBox input
    {
        font-size: 14px;
    }
    section .report .content .form .inputBox i
    {
        font-size: 14px;
    }
    .report .content .form .inputBox input[type="submit"]
    {
        font-size: 14px;
    }
}