<div th:if="${#authorization.expression('hasRole(''ROLE_COACH'')')}" class="nav">
  <div class="container">
    <div class="menu">
      <div class="menu_item"><a href="/user/mainPage" data-item='главная'>главная</a></div>
      <div class="menu_item"><a class="main-user" data-item='страница пользователя'>страница пользователя</a></div>
      <div class="menu_item"><a class="workout-user" data-item='тренировки'>тренировки</a></div>
      <div class="menu_item"><a class="nutrition-user" data-item='питание'>питание</a></div>
      <div class="menu_item"><a class="reports-user" data-item='отчеты'>отчеты</a></div>
      <div class="menu_item"><a class="activity-user" data-item='активность'>активность</a></div>
    </div>
    <div class="menu-small">
      <div class="menu_small_item"><a href="/user/mainPage" data-item='главная'>главная</a></div>
      <div class="menu_small_item"><a class="main-user" data-item='страница пользователя'>страница пользователя</a></div>
      <div class="menu_small_item"><a class="workout-user" data-item='тренировки'>тренировки</a></div>
      <div class="menu_small_item"><a class="nutrition-user" data-item='питание'>питание</a></div>
      <div class="menu_small_item"><a class="reports-user" data-item='отчеты'>отчеты</a></div>
      <div class="menu_small_item"><a class="activity-user" data-item='активность'>активность</a></div>
    </div>
    <div class="menu_small_icon">
      <div class="stick"></div>
      <div class="stick"></div>
      <div class="stick"></div>
    </div>
  </div>
</div>
