<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Форма регистрации</title>
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/login-form.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <section>
    <div class="signin">
      <div class="content">
        <h2>регистрация</h2>
        <form class="form">

          <div class="inputBox">
            <input type="text" id="first-name" name = "firstname"><i>Имя</i>
          </div>
          <div class="inputBox">
            <input type="text" id="last-name"  name = "lastName"><i>Фамилия</i>
          </div>
          <div class="inputBox">
            <input type="email" id="email"  name = "email"><i>Email</i>
          </div>
          <div class="inputBox">
            <input type="tel"  id="phone-number" name = "phoneNumber"><i>Номер телефона</i>
          </div>
          <div class="inputBox">
            <input type="password" id="password" name = "password"><i>Пароль</i>
          </div>
          <div class="inputBox">
            <input type="password" id="confirm-password" name = "confirmPassword"><i>Подтвендите пароль</i>
          </div>
          <div class="inputBox">
            <input id = "signup-btn" type="submit" value="зарегистрировать">
          </div>
        </form>
      </div>
    </div>
  </section>
  <script th:src="@{/js/auth-form.js}"></script>
  <script th:src="@{/js/phone-number-form.js}"></script>
</body>
</html>