<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Форма физических параметров</title>
  <meta th:name="_csrf" th:content="${_csrf.token}"/>
  <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" th:href="@{/css/login-form.css}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>
  <section>
    <div class="default-from">
      <div class="content">
        <h2>физические параметры</h2>
        <form class="form">
          <div class="inputBox">
            <input type="number" id="weight" name="weight"><i>Вес (кг)</i>
          </div>
          <div class="inputBox">
            <input type="number" id="leg-girth" name="legGirth"><i>Обхват ноги (см)</i>
          </div>
          <div class="inputBox">
            <input type="number" id="arm-circumference" name="armCircumference"><i>Обхват руки (см)</i>
          </div>
          <div class="inputBox">
            <input type="number" id="hip-circumference" name="hipCircumference"><i>Обхват бедер (см)</i>
          </div>
          <div class="inputBox">
            <input type="number" id="waist-circumference" name="waistCircumference"><i>Обхват талии (под пупком) (см)</i>
          </div>
          <div class="inputBox">
            <input type="number" id="chest-circumference" name="chestCircumference"><i>Обхват грудной клетки (см)</i>
          </div>
          <div class="inputBox">
            <input type="date" id="date"  name="date"><i>Дата</i>
          </div>
          <div class="inputBox">
            <input id="add-physical-parameters-btn" type="button" value="добавить">
          </div>
          <div class="inputBox">
            <input id="cancel-btn" type="button" value="назад">
          </div>
        </form>
      </div>
    </div>
  </section>
  <script th:src="@{/js/user-physical-parameters-form.js}"></script>
</body>
</html>